@{
    ViewData["Title"] = "File Upload";
}
<div class="text-center">
    <form asp-action="File" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple name="multipleFileList">
        </div>
        <input class="btn btn-success" type="submit" />
    </form>
</div>