@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://localhost:44395/FileUploadAPI/contents/images/3f38cb7c-852f-4b14-92b1-5adaf280cfb9.png" />
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
